<div>
  <h1>Welcome Glimmer Demo Examples!</h1>
  <!--uptime-boxes /-->
  <hr>
  <hello-world @name="World" />
  <hr>
  <conference-speakers />
  <hr>
  <conway-demo />
  <hr>
  <h1>{{title}}</h1>
  <h2>{{new_title}}</h2>
  <london-glimmer @london="Hello from London" onclick={{action clickMe}} />
</div>
